Paul O'Leary

Comp 4448

MinProject - Assignment 6

8/9/2021

In [1]:
# Standard Libraries

import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO
from scipy import stats

Part 3

https://www.kaggle.com/kumarajarshi/life-expectancy-who/

The Global Health Observatory (GHO) data repository under World Health Organization (WHO) keeps track of the health status as well as many other related factors for all countries The datasets are made available to public for the purpose of health data analysis. The dataset related to life expectancy, health factors for 193 countries has been collected from the same WHO data repository website and its corresponding economic data was collected from United Nation website. Among all categories of health-related factors only those critical factors were chosen which are more representative. It has been observed that in the past 15 years , there has been a huge development in health sector resulting in improvement of human mortality rates especially in the developing nations in comparison to the past 30 years. Therefore, in this project we have considered data from year 2000-2015 for 193 countries for further analysis. The individual data files have been merged together into a single dataset. On initial visual inspection of the data showed some missing values. As the datasets were from WHO, we found no evident errors. Missing data was handled in R software by using Missmap command. The result indicated that most of the missing data was for population, Hepatitis B and GDP. The missing data were from less known countries like Vanuatu, Tonga, Togo,Cabo Verde etc. Finding all data for these countries was difficult and hence, it was decided that we exclude these countries from the final model dataset. The final merged file(final dataset) consists of 22 Columns and 2938 rows which meant 20 predicting variables. All predicting variables was then divided into several broad categories:â€‹Immunization related factors, Mortality factors, Economical factors and Social factors.


Life Expectancy will be the Traget variable.


For simplicity sake, I will pare the input variables down to 

  - Adult Mortality, number of people dying between 15 and 60 per 1000 people

  - Infant deaths, number of infant deaths per 1000

  - Alcohol consumption, litres of alcohol consumed per capita

  - BMI, average BMI for the entire population

  - Total expenditure, government spending on health care as a percentage of total expenditure

In [38]:
#

In [39]:
# import the Life Expectance data

le = pd.read_csv("Life Expectancy Data.csv")

In [40]:
le

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [41]:
le = le.iloc[:, [3,4,5,6,10,13]]

In [42]:
le

,Life expectancy,Adult Mortality,infant deaths,Alcohol,BMI,Total expenditure
0,65.0,263.0,62,0.01,19.1,8.16
1,59.9,271.0,64,0.01,18.6,8.18
2,59.9,268.0,66,0.01,18.1,8.13
3,59.5,272.0,69,0.01,17.6,8.52
4,59.2,275.0,71,0.01,17.2,7.87
...,...,...,...,...,...,...
2933,44.3,723.0,27,4.36,27.1,7.13
2934,44.5,715.0,26,4.06,26.7,6.52
2935,44.8,73.0,25,4.43,26.3,6.53
2936,45.3,686.0,25,1.72,25.9,6.16
2937,46.0,665.0,24,1.68,25.5,7.10

a)	Construct a linear regression model using ordinary least squares method by applying the .LinearRegression() constructor in sklearn and find the training and test accuracy of this model using mean square error (mse). https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [43]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [44]:
# StandardScaler on the data

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

le_temp = ss.fit_transform(le)

le_enc = pd.DataFrame(le_temp, columns = le.columns)
le_enc.head(5)

,Life expectancy,Adult Mortality,infant deaths,Alcohol,BMI,Total expenditure
0,-0.443691,0.790238,0.268824,-1.133571,-0.959116,0.889486
1,-0.979279,0.854614,0.285786,-1.133571,-0.984066,0.897493
2,-0.979279,0.830473,0.302749,-1.133571,-1.009015,0.877476
3,-1.021286,0.862660,0.328193,-1.133571,-1.033964,1.033609
4,-1.052791,0.886801,0.345155,-1.133571,-1.053924,0.773387

In [45]:
# Clean up the spaces in the column names
le_enc.columns = le_enc.columns.str.replace(' ', '')
le_enc.head(5)

,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,BMI,Totalexpenditure
0,-0.443691,0.790238,0.268824,-1.133571,-0.959116,0.889486
1,-0.979279,0.854614,0.285786,-1.133571,-0.984066,0.897493
2,-0.979279,0.830473,0.302749,-1.133571,-1.009015,0.877476
3,-1.021286,0.862660,0.328193,-1.133571,-1.033964,1.033609
4,-1.052791,0.886801,0.345155,-1.133571,-1.053924,0.773387

In [46]:
# Better than it was - if I need cleaner, I will do that.

In [47]:
# Any NaNs?

le_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Lifeexpectancy    2928 non-null   float64
 1   AdultMortality    2928 non-null   float64
 2   infantdeaths      2938 non-null   float64
 3   Alcohol           2744 non-null   float64
 4   BMI               2904 non-null   float64
 5   Totalexpenditure  2712 non-null   float64
dtypes: float64(6)
memory usage: 137.8 KB

In [48]:
le_enc.dropna(inplace=True)
le_enc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2683 entries, 0 to 2937
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Lifeexpectancy    2683 non-null   float64
 1   AdultMortality    2683 non-null   float64
 2   infantdeaths      2683 non-null   float64
 3   Alcohol           2683 non-null   float64
 4   BMI               2683 non-null   float64
 5   Totalexpenditure  2683 non-null   float64
dtypes: float64(6)
memory usage: 146.7 KB

In [49]:
feat = le_enc.drop("Lifeexpectancy",axis=1)
targ = le_enc["Lifeexpectancy"].copy()

In [50]:
# Test and Training sets

X_train, X_test, y_train, y_test = train_test_split(feat, targ, test_size=0.3, random_state=42)

In [51]:
reg = LinearRegression().fit(X_train,y_train)
# reg.score(X_train,y_train)

In [52]:
# Accuracy of the Training set

from sklearn.metrics import mean_squared_error

train_preds = reg.predict(X_train)
test_preds = reg.predict(X_test)

print("MSE for the Training data: ", mean_squared_error(y_train, train_preds))
print("MSE for the Test data: ", mean_squared_error(y_test, test_preds))

MSE for the Training data:  0.37092910927236733
MSE for the Test data:  0.40270774903760354

b)	Check for overfitting. Is there overfitting? Support your answer with some results you generated.

In [53]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [54]:
# I will check MAE and R^2

print("MAE for the Training data: ", mean_absolute_error(y_train, train_preds))
print("MAE for the Test data: ", mean_absolute_error(y_test, test_preds))

print("R-squared for the Training data: ", r2_score(y_train, train_preds))
print("R-Squared for the Test data: ", r2_score(y_test, test_preds))

MAE for the Training data:  0.4154971267049513
MAE for the Test data:  0.43872976034157596
R-squared for the Training data:  0.6241983700286791
R-Squared for the Test data:  0.6110916819131313

There does not appear to be overfitting on the model.  The R-squared scores are OK, not great, and the scores comparing the Training and Test sets are comparable.

c)	Fit a lasso regression on the data and check the training and test accuracy of the model using mse. Use the default alpha or penalty constant. https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html

In [55]:
from sklearn import linear_model

In [56]:
reg_las = linear_model.Lasso()

reg_las.fit(X_train, y_train)

Lasso()

In [57]:
train_preds_lasso = reg_las.predict(X_train)
test_preds_lasso = reg_las.predict(X_test)

In [58]:
print("MSE for the Training data: ", mean_squared_error(y_train, train_preds_lasso))
print("MSE for the Test data: ", mean_squared_error(y_test, test_preds_lasso))

MSE for the Training data:  0.9870343279263436
MSE for the Test data:  1.0391064083061814

Much higher MSE for the Lasso Regression

d)	Fit a ridge regression on the data and check the training and test accuracy of the model. Use the default alpha or penalty constant. https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

In [59]:
from sklearn.linear_model import Ridge

In [60]:
reg_ridge = Ridge()
reg_ridge.fit(X_train, y_train)

Ridge()

In [61]:
train_preds_ridge = reg_ridge.predict(X_train)
test_preds_ridge = reg_ridge.predict(X_test)

In [62]:
print("MSE for the Training data: ", mean_squared_error(y_train, train_preds_ridge))
print("MSE for the Test data: ", mean_squared_error(y_test, test_preds_ridge))

MSE for the Training data:  0.37092919668901675
MSE for the Test data:  0.402702769148936

Very close to the results from regular linear regression

e)	Which model is better, OLS, Lasso, or Ridge regression?

The results from the OLS and from the Ridge regression are nearly identical, both performing better than the Lasso regression.

d)	Tune the alpha hyperparameters of the lasso and ridge regression using any tuning technique of your choice? What is the best alpha value for the lasso regression and what is the best alpha value for the ridge regression?

In [63]:
from sklearn.model_selection import GridSearchCV

In [64]:
# Set the alpha param

lasso_params = {'alpha':[0.005, 0.02, 0.03, 0.05, 0.06]}
ridge_params = {'alpha':[1.0, 5, 100, 500, 650]}

In [65]:
model_lasso = GridSearchCV(linear_model.Lasso(), param_grid=lasso_params).fit(X_train, y_train)

In [66]:
model_lasso.best_estimator_

Lasso(alpha=0.005)

In [67]:
# Now Ridge

model_ridge = GridSearchCV(Ridge(), param_grid=ridge_params).fit(X_train, y_train)
model_ridge.best_estimator_

Ridge(alpha=5)

In [68]:
# OK.  Now run them again with those Alphas

# Lasso

reg_las_tuned = linear_model.Lasso(alpha=0.005)

reg_las_tuned.fit(X_train, y_train)

train_preds_lasso_tuned = reg_las_tuned.predict(X_train)
test_preds_lasso_tuned = reg_las_tuned.predict(X_test)

print("MSE for the Training data: ", mean_squared_error(y_train, train_preds_lasso_tuned))
print("MSE for the Test data: ", mean_squared_error(y_test, test_preds_lasso_tuned))

MSE for the Training data:  0.3709972779526918
MSE for the Test data:  0.40283290805588173

Greatly improved over the non-tuned Lasso

In [69]:
# Ridge

reg_ridge_tuned = Ridge(alpha=5)

reg_ridge_tuned.fit(X_train, y_train)

train_preds_ridge_tuned = reg_ridge_tuned.predict(X_train)
test_preds_ridge_tuned = reg_ridge_tuned.predict(X_test)

print("MSE for the Training data: ", mean_squared_error(y_train, train_preds_ridge_tuned))
print("MSE for the Test data: ", mean_squared_error(y_test, test_preds_ridge_tuned))

MSE for the Training data:  0.37093128621164756
MSE for the Test data:  0.4026848509191513

Similar results again.  It appears that with this batch of data and these input columns this is as good as it will get.  Feature reduction and other tunable parameters could be investigated.